@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>İçerik Girşi</h2>
<br />
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" name="HeadingID" value="@ViewBag.d"/>
        @Html.Label("İçeriğinizi yazın")
        @Html.TextAreaFor(x => x.ContentValue, 10 , 30 , new { @class = "form-control" })  <!-- 10 ve 30 min max (raw?) değeri yazının-->
        @Html.ValidationMessageFor(x => x.ContentValue, "", new { @class = "text-danger" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}

