<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.TypeScript.Compiler" version="3.1.5" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.TypeScript.MSBuild" version="4.4.2" targetFramework="net461" developmentDependency="true" />
</packages>